*{margin:0 ;
padding: 0;
box-sizing: border-box;
}

header{ 
  background-color: rgb(32, 26, 26);color: rgb(226, 226, 236)}
div{
  display: inline-block;
}
nav{ display: inline-block;
float: right;
padding-top: 100px;
padding-right: 40px;
 }
 li{  display: inline; 
padding-bottom: 10px; 
}

li a {  
text-decoration: none;
color: rgb(226, 226, 236);
margin:10px ;


}
main section{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px ;
  color: rgb(2, 2, 75);
}
#s2{
  padding-left:40px ;
}
footer{
  text-align: center;
  background-color: black;
  color: rgb(226, 226, 236);
}
body {background: rgba(247, 236, 216, 0.199); }